<?xml version="1.0"?>
<model>
  <name>iris</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Marcelo Jacinto</name>
    <email>marcelo.jacinto@tecnico.ulisboa.pt</email>
  </author>
  <description>Model of the 3DR iris drone adapted to the new gazebo.</description>
</model>
