/**:
  ros__parameters:
    mavlink_interface:
      # Defines the rates for the onboard to send the data through mavlink
      rates:
        attitude: 50.0
        position: 30.0
        gps: 10.0
        altitude: 10.0
        imu: 30.0
    subscribers:
      control:
        # High-level control (position, body velocity and inertial acceleration)
        position: "fmu/in/position"
        # Low-level control (attitude and attitude-rate control + throttle)
        thrust:
          attitude: "fmu/in/throtle/attitude"
          attitude_rate: "fmu/in/throtle/attitude_rate"
        # Low-level control (attitude and attitude-rate control + force expresed in Newton)
        force:
          attitude: "fmu/in/force/attitude"
          attitude_rate: "fmu/in/force/attitude_rate"
      # External vision or mocap sensor input (in ENU frame of reference)
      external_sensors:
        mocap_enu: "/mocap/pose_enu"
    services:
      arm: "fmu/arm"
      land: "fmu/land"
      kill_switch: "fmu/kill_switch"
      offboard: "fmu/offboard"
      hold: "fmu/hold"
      set_home: "fmu/set_home"
    publishers:
      # Current status of the vehicle (battery, operation mode, etc.)
      status: "fmu/status"
      vehicle_constants: "fmu/constants"
      # Sensor data received from micro-controller
      sensors:
        imu: "fmu/sensors/imu"
        barometer: "fmu/sensors/barometer"
        gps: "fmu/sensors/gps"
        gps_info: "fmu/sensors/gps_info"
      # Data received from the micro-controller internal EKF
      filter:
        # Current state of the vehicle
        state: "fmu/filter/state"
        rpy: "fmu/filter/rpy"