<?xml version="1.0"?>
<model>
  <name>pegasus</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Marcelo Jacinto</name>
    <email>marcelo.jacinto@tecnico.ulisboa.pt</email>
    <name>Luis Abrantes</name>
    <email>luis.g.abrantes@tecnico.ulisboa.pt</email>
  </author>
  <description>Model of the pegasus drone prototype.</description>
</model>
